<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ai Object Detection</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Rubik&display=swap" rel="stylesheet">
      <style>
          #img-container {
              width: 60vw;
              min-width: 400px;
              max-width: 800px;
              margin: 60px auto;
              display: flex;
              justify-content: center;
              align-items: center;
          }

          img#image {
              width: 90%;
              height: 90%;
              box-shadow: whitesmoke 6px 6px 0 0;
          }
      </style>
<!--     <link rel="stylesheet" href="style.css"> -->
  </head>
  <body style="padding: 50px; background: linear-gradient(to right, #000000, #434343); color: white;">
      <h1 class="h1" style="text-align: center; font-family: 'Roboto', sans-serif;"><u>It is very closed to a miracle.</u></h1>
      <div id="img-container">
          <iframe id="video" style="min-height: 500px; min-width: 500px;" src="{{ url }}" alt="Proccessed video!"></iframe>
      </div>
      <script>
          // let start = 1;
          // let id = setInterval(() => {
          //     img = document.getElementById("image");
          //     img.src = url.slice(0, 19) + start + '.jpg';
          //     start += 1;
          // }, 500);

          // if (start >= {{ end }}) {
          //     clearInterval(id);
          // }
          
      </script>
<!-- 	<script src="index.js"></script> -->
  </body>
</html>